* {
    background-color: aqua;
}

h1 {
    margin-left: 800px;
}

p {
    margin-left: 810px;
    font-size: 14px;
    color: grey;
}

#btn {
    margin-left: 840px;
    margin-top: 280px;
    width: 20%;
    font-size: 30px;
    border: 3px white solid;
    border-radius: 45%;
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: pink;
    color: white;
    cursor: pointer;
    transform: scale(1);
}

#btn:hover {
    transform: scale(1.50);
}

footer {
    background-color: white;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 50px;
    padding-top: 50px;
}